<div *ngFor="let category of categories">
  <div class="row" id="Menu">
    <div class="col navMenu">
      <h4 class="text-center">~ {{category.getCategory()}} ~</h4>
    </div>
  </div>
  <div class="row bg-light" *ngFor="let position of listMenuPositions(category)">
    <div class="col-md-4" data-aos="slide-up">
      <div class="card view zoom">
        <img class="card-img-top img-fluid " src="assets/images/meat-menu.jpg">
        <div class="card-body">
          <h5 class="card-title">~ {{position.getName()}} ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{position.getPrice()}}</li>
            <li class="list-group-item">{{position.getDescription()}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
